@import "vars";

body {
  margin: 0;
}

header {
  display: flex;
  text-align: center;
}
header i {
  margin: 20px 50px 0 20px;
  color: black;
}

#logo img {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu1 {
  background-image: url(images/menu1.jpg);
}
.menu2 {
  background-image: url(images/menu2.jpg);
}
.menu3 {
  background-image: url(images/menu3.jpg);
}
.menu4 {
  background-image: url(images/menu4.jpg);
}
.menu1,.menu2,.menu3,.menu4 {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
}
.titre {
  display: flex;
  justify-content: space-between;
  font-family: "shrikhand";
  margin-left: -10px;
}

#menutxt {
  border: 1px solid transparent;
  background-color: rgb(243, 243, 243);
  border-radius: 47px 47px 0 0;
  margin-top: -48px;
  max-width: 960px;
  font-family: "roboto";
}

.titre p {
  margin-left: 25px;
  font-family: "shrikhand";
  font-size: 25px;
}
.fa-heart {
  margin: 25px 18px 0 20px;
}
.fa-heart::before {
  content: "\f004";
  transition: color 1s ease-out;
  color: #552292;
}
.fa-heart:hover::before {
  color: $primaire;
  font-weight: bold;
  cursor: pointer;
}
#titresepare {
  margin-left: 20px;
  border-bottom: 3px solid $tertiaire;
  width: 40px;
  margin-bottom: 10px;
}
#titresepare p {
  margin-bottom: 5px;
}
.txt {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 17px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px; 
 
}
#txtentre,#titresepare{
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
 
  
}
#txtplat{
 
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  
}
#txtdessert{
  
  animation: fadein 7s;
  -moz-animation: fadein 7s;
  -webkit-animation: fadein 7s;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-moz-keyframes fadein{
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@-webkit-keyframes fadein{
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}
.txt p {
  margin: 0;
  padding: 5px 15px 5px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 
}


.anim {
  display: none;
  border: 1px solid transparent;
  border-radius: 0 17px 17px 0;
  padding-top: 20px;
  margin-top: -30px;
  margin-bottom: -1px;
  margin-right: -31px;
  margin-left: 10px;
  padding-left: 30px;
  background-color: $tertiaire;
  
}

.txt:hover .anim {
  display: block;
  animation-name: anim;
  animation-duration: 1s;
  cursor:pointer;
  
}

@keyframes anim {
  0% {
    width: 0px;
  }
  100% {
    width: 55px;
  }
}
.txt:hover .animi {
 
  animation-name: animi;
  animation-duration: 1s;
 

}
@keyframes animi {
 0%{
   transform:rotate(0deg);
   opacity:0;
   display:none;
  
 }
 90%{
   opacity:1;
   display:active;
 
 }
  100% {
    transform: rotate(360deg);
    display: active;
  
    
  }
}
.animi {
  border: 1px solid transparent;
  border-radius: 55%;
  padding: 2px 0 0 3px;
  color: $tertiaire;
  margin-right: 30px;
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.txt2 {
  display:flex;
  justify-content: space-between;
  margin-right: 30px;
  
}
.btnresto {
  border: 1px solid transparent;
  border-radius: 65px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 50px;
  background: linear-gradient(170deg, $secondaire 30%, $primaire 70%);
  max-width: 300px;
}
.btnresto p {
  color: white;
  font-family: "roboto";
}
.logof {
  height: 17px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  font-family: shrikhand;
}
footer ul {
  list-style-type: none;
  line-height: 175%;
}

footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f2f2f2;
  font-size: 15px;
  background-color: #313131;
  font-family: "roboto";
}

footer i {
  width: 10px;
  padding-right: 15px;
}

@media screen and (min-width: 767px) {
 #logo,
  .menu1,
  #menutxt,
  .btnresto {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  #menutxt{
    padding-left: 120px;
    padding-right: 120px;
  }
}

/*# sourceMappingURL=menustyle.css.map */
