@font-face {
  font-family: "roboto";
  src: url("polices/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("polices/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("polices/Roboto-Bold.ttf");
}

body {
  margin: 0;
  font-family: "roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

header i {
  margin: 20px 50px 0 20px;
  color: #000000;
}

#logo img {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu1 {
  background-image: url(images/menu1.jpg);
}

.menu2 {
  background-image: url(images/menu2.jpg);
}

.menu3 {
  background-image: url(images/menu3.jpg);
}

.menu4 {
  background-image: url(images/menu4.jpg);
}

.menu1,
.menu2,
.menu3,
.menu4 {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "shrikhand";
  margin-left: -10px;
}

#menutxt {
  border: 1px solid transparent;
  background-color: #f3f3f3;
  border-radius: 47px 47px 0 0;
  margin-top: -48px;
  max-width: 960px;
  font-family: "roboto";
}

.titre p {
  margin-left: 25px;
  font-family: "shrikhand";
  font-size: 25px;
}

.fa-heart {
  margin: 25px 18px 0 20px;
}

.fa-heart::before {
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  color: #b98deb;
}

.fa-heart:hover::before {
  color: #9356dc;
  font-weight: bold;
  cursor: pointer;
}

.titresepare {
  margin-left: 20px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-bottom: 10px;
}

.titresepare p {
  margin-bottom: 5px;
}

.carte {
  border: 1px solid transparent;
  background-color: #ffffff;
  border-radius: 17px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.carte strong {
  padding: 0 15px 10px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.carte-texte {
  min-width: 0;
  padding: 10px 0 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carte-anim {
  display: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 17px 17px 0;
  border: 1px solid transparent;
  background-color: #99e2d0;
  width: 40%;
  margin: -1px;
}

.carte-anim-i {
  border-radius: 55%;
  border: 1px solid transparent;
  color: #99e2d0;
  padding: 2px 0 0 3px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
}

.carte:hover .carte-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: carte-anim;
          animation-name: carte-anim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.carte:hover .carte-anim-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: carte-anim-i;
          animation-name: carte-anim-i;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes carte-anim {
  0% {
    width: 0px;
    display: -webkit-box;
    display: flex;
  }
  100% {
    width: 40%;
    display: -webkit-box;
    display: flex;
  }
}

@keyframes carte-anim {
  0% {
    width: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes carte-anim-i {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes carte-anim-i {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#txtentre,
.titresepare {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

#txtplat {
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
}

#txtdessert {
  animation: fadein 7s;
  -moz-animation: fadein 7s;
  -webkit-animation: fadein 7s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btnresto {
  border: 1px solid transparent;
  border-radius: 65px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 50px;
  background: linear-gradient(170deg, #ff79da 30%, #9356dc 70%);
  max-width: 300px;
}

.btnresto p {
  color: #ffffff;
}

.btnresto:hover {
  -webkit-box-shadow: 1px 1px 7px #9356dc;
          box-shadow: 1px 1px 7px #9356dc;
  background: linear-gradient(170deg, #f79fde 30%, #b186e6 70%);
  cursor: pointer;
}

.logof {
  height: 17px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff;
  font-family: shrikhand;
}

footer ul {
  list-style-type: none;
  line-height: 175%;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 15px;
  background-color: #313131;
  font-family: "roboto";
}

footer i {
  width: 10px;
  padding-right: 15px;
}

@media screen and (min-width: 767px) {
  #logo,
  .menu1,
  .menu2,
  .menu3,
  .menu4,
  #menutxt,
  .btnresto {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menutxt {
    padding-left: 120px;
    padding-right: 120px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer a {
    margin-right: 70px;
  }
}
/*# sourceMappingURL=menustyle.css.map */