@import "vars";

.lds-dual-ring {
  width: 100%;
  height: 100%;
  position: fixed;
  animation: fadout 3s;
  opacity: 0;
  z-index: -1;
}
.lds-dual-ring::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $tertiaire;
  opacity: 0.8;
}
.lds-dual-ring::after {
  box-sizing: border-box;

  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 4px solid $grisclair;
  border-top: 4px solid $primaire;
  border-bottom: 4px solid $secondaire;
  border-left: 4px solid $tertiaire;
  border-right: 4px solid $tertiaire;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
@keyframes fadout {
  from {
    opacity: 0.8;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "roboto";
}
header {
  text-align: center;
}
h1,h2 {
  margin-left: 15px;
}

#logo img {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.searchbar {
  display: flex;
  border: 1px solid transparent;
  display: flex;
  background-color: $grisfonce;
  justify-content: center;
  margin: auto;
  margin-left: -35px;
}
.searchbar i {
  height: 15px;
  width: 15px;
  padding: 17px 17px 0 0;
}
#title {
  border: 1px solid transparent;
  background-color: $grisclair;
  padding-bottom: 45px;
}
.btnresto {
  border: 1px solid transparent;
  border-radius: 65px;
  margin: auto;
  background: linear-gradient(170deg, $secondaire 30%, $primaire 70%);
  max-width: 300px;
}
.btnresto p {
  color: $blanc;
}

.btnresto:hover {
  box-shadow: 1px 1px 7px $primaire;
  background: linear-gradient(170deg, $secondairehover 30%, $primairehover 70%);
  cursor: pointer;
}
#middle {
  font-family: "roboto-bold";
}
.btnmid {
  display: flex;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px $shadow;
  width: 275px;
  border-radius: 22px;
  margin-left: 20px;
  margin-bottom: 25px;
  padding: 15px 15px 15px 0;
  background-color: $grisclair;
}

#middle i {
  width: 45px;
  margin: 10px;
  color: $grisfont;
}
.num {
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 55%;
  background-color: $primaire;
  margin: 10px 10px -10px -12px;
}
.num p {
  margin-left: 11px;
  margin-top: 6px;
  color: $blanc;
}
.carte {
  font-family: "roboto";
  border-radius: 17px;
  width: 300px;
  height: auto;
  margin: 30px;
  max-width: 400px;
  box-shadow: 1px 1px 5px $shadow;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.carte:hover {
  box-shadow: 3px 3px 5px $shadow;
  cursor: pointer;
}
.menucartes a {
  text-decoration: none;
}
.menucartes p {
  color: $noir;
}

.menu1,
.menu2,
.menu3,
.menu4 {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 17px 17px 0 0;
}
#restaurants {
  border: 1px solid transparent;
  background-color: $grisclair;
}
.carte p {
  padding: 0 0 0 10px;
}
.menubas {
  display: flex;
  justify-content: space-between;
}
.fa-heart {
  margin: 25px 20px 0 0;
}
.fa-heart::before {
  transition: color 1s ease-out;
  color: $heartbefore;
}
.fa-heart:hover::before {
  color: $primaire;
  font-weight: bold;
  cursor: pointer;
}
.fixed {
  padding-top: 20px;
}
.fixed p {
  height: 23px;
  width: 67px;
  border: 1px solid transparent;
  color: $fixedp;
  background-color: $tertiaire;
  margin: 0 0 0 210px;
  padding-top: 5px;
}
.menu1 {
  background-image: url(images/menu1.jpg);
}
.menu2 {
  background-image: url(images/menu2.jpg);
}
.menu3 {
  background-image: url(images/menu3.jpg);
}
.menu4 {
  background-image: url(images/menu4.jpg);
}
.logof {
  height: 17px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 10px;
  color: $blanc;
  font-family: shrikhand;
}
footer ul {
  list-style-type: none;
  line-height: 175%;
}

footer a {
  text-decoration: none;
  color: $blanc;
  padding-bottom: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: $footer;
}
footer i {
  width: 10px;
  padding-right: 15px;
}
@media screen and (min-width: 767px) {
  #middle {
    display: flex;
  }
  .menucartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer a {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .btnmid {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }
  .btnmid p {
    text-align: center;
    padding-right: 10px;
  }

  #middle i {
    width: 45px;
    margin: 15px 0 0 120px;
    color: $grisfont;
  }
  .num {
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    border-radius: 55%;
    background-color: $primaire;
    margin: -30px 0 0 120px;
  }
}
