@font-face {
  font-family: "roboto";
  src: url("polices/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("polices/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("polices/Roboto-Bold.ttf");
}

.lds-dual-ring {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-animation: fadout 3s;
          animation: fadout 3s;
  opacity: 0;
  z-index: -1;
}

.lds-dual-ring::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #99e2d0;
  opacity: 0.8;
}

.lds-dual-ring::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #9356dc;
  border-bottom: 4px solid #ff79da;
  border-left: 4px solid #99e2d0;
  border-right: 4px solid #99e2d0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes fadout {
  from {
    opacity: 0.8;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadout {
  from {
    opacity: 0.8;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

body {
  margin: 0;
}

header {
  text-align: center;
}

h1 {
  margin-left: 15px;
  font-family: "shrikhand";
}

#logo img {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  display: flex;
  background-color: #e7e7e7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-left: -35px;
}

.searchbar i {
  height: 15px;
  width: 15px;
  padding: 17px 17px 0 0;
}

#title {
  border: 1px solid transparent;
  background-color: #f3f3f3;
  padding-bottom: 45px;
}

.btnresto {
  border: 1px solid transparent;
  border-radius: 65px;
  margin: auto;
  background: linear-gradient(170deg, #ff79da 30%, #9356dc 70%);
  max-width: 300px;
}

.btnresto p {
  color: white;
}

.btnresto:hover {
  -webkit-box-shadow: 1px 1px 7px #9356dc;
          box-shadow: 1px 1px 7px #9356dc;
  background: linear-gradient(170deg, #f79fde 30%, #b186e6 70%);
  cursor: pointer;
}

#middle {
  font-family: "roboto-bold";
  font-size: 1, 8em;
}

.btnmid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  -webkit-box-shadow: 1px 1px 5px #a3a1a1;
          box-shadow: 1px 1px 5px #a3a1a1;
  width: 275px;
  border-radius: 22px;
  margin-left: 20px;
  margin-bottom: 25px;
  padding: 15px 15px 15px 0;
  background-color: #f3f3f3;
}

#middle i {
  width: 45px;
  margin: 10px;
  color: gray;
}

.num {
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 55%;
  background-color: #9356dc;
  margin: 10px 10px -10px -12px;
}

.num p {
  margin-left: 11px;
  margin-top: 6px;
  color: white;
}

.carte {
  font-family: "roboto";
  border-radius: 17px;
  width: 300px;
  height: auto;
  margin: 30px;
  max-width: 400px;
  -webkit-box-shadow: 1px 1px 5px #d6d5d5;
          box-shadow: 1px 1px 5px #d6d5d5;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menucartes a {
  text-decoration: none;
}

.menucartes p {
  color: black;
}

.menu1,
.menu2,
.menu3,
.menu4 {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 17px 17px 0 0;
}

#restaurants {
  border: 1px solid transparent;
  background-color: #f3f3f3;
}

.carte p {
  padding: 0 0 0 10px;
}

.menubas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-heart {
  margin: 25px 20px 0 0;
}

.fa-heart::before {
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
  color: #552292;
}

.fa-heart:hover::before {
  color: #9356dc;
  font-weight: bold;
  cursor: pointer;
}

.fixed {
  padding-top: 20px;
}

.fixed p {
  height: 23px;
  width: 67px;
  border: 1px solid transparent;
  color: green;
  background-color: #99e2d0;
  margin: 0 0 0 210px;
  padding-top: 5px;
}

.menu1 {
  background-image: url(images/menu1.jpg);
}

.menu2 {
  background-image: url(images/menu2.jpg);
}

.menu3 {
  background-image: url(images/menu3.jpg);
}

.menu4 {
  background-image: url(images/menu4.jpg);
}

.logof {
  height: 17px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  font-family: shrikhand;
}

footer ul {
  list-style-type: none;
  line-height: 175%;
}

footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  font-size: 15px;
  background-color: #313131;
}

footer i {
  width: 10px;
  padding-right: 15px;
}

@media screen and (min-width: 767px) {
  #middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menucartes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer a {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .btnmid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }
  .btnmid p {
    text-align: center;
    padding-right: 10px;
  }
  #middle i {
    width: 45px;
    margin: 15px 0 0 120px;
    color: gray;
  }
  .num {
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    border-radius: 55%;
    background-color: #9356dc;
    margin: -30px 0 0 120px;
  }
}
/*# sourceMappingURL=style.css.map */