@font-face {
    font-family: "roboto";
    src: url("polices/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: "shrikhand";
    src: url("polices/Shrikhand-Regular.ttf");
  }
  @font-face {
    font-family: "roboto-bold";
    src: url("polices/Roboto-Bold.ttf");
  }
  $primaire: #9356dc;
  $secondaire: #ff79da;
  $tertiaire: #99e2d0;